.filter__bar {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.filter__slot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 50px;
}

.filter__slot label {
  cursor: pointer;
}

.filter__dropdown {
  padding: 8px 0 8px 5px;
  width: 100px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #141414;
  cursor: pointer;
  outline: none;
}

@media (max-width: 496px) {
  .filter__bar {
    justify-content: center;
  }
  .filter__slot {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
  }
}

@media (max-width: 376px) {
  .filter__bar {
    align-items: center;
  }
  .filter__slot {
    flex-direction: row;
    justify-content: space-between;
  }
}
