nav {
  margin: 50px 0 25px 0;
}

ul {
  list-style-type: none;
  margin: 0;  
  display: flex;
  justify-content: center;
}

ul li {
  padding: 10px;
}

.username {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  margin-top: 10px;
}