.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Small screens */
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

/* Medium screens */
@media (min-width: 992px) {
  .container {
    width: 95%;
  }
}

/* Large screens */
@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}