.movie__form {
  margin-top: 25px;
}

.movie__form div {
  margin-bottom: 15px;
}

.movie__form label {
  color: #fff;
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}

.file-upload-wrapper {
  color: #fff;
  max-width: 100%;
  width: 100%;
  border-radius: 100px;
  background-color: #272727;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 8px 15px;
  overflow: hidden;
}

.file-upload-text {
  font-size: 14px;
  flex: 1;
}

.file-upload-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-wrapper i {
  display: block;
  font-size: 20px;
  transition: all 0.3s;
}

.file-upload-label:hover i {
  color: #ffa100;
}

.file-upload-input {
  display: none;
}

.error {
  display: block;
  margin-top: 10px;
  color: red;
}
