.movie__form {
  margin-top: 25px;
}

.movie__form div {
  margin-bottom: 15px;
}

.movie__form label {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}

.movie__form :is(input, textarea) {
  font-size: 15px;
  padding: 10px 15px;
}

.movie__form textarea {
  height: 100px;
  resize: none;
}
