/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: #fff;
  background-color: #121212;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
